
<div class="tasks-container">
    <a href="/tasks/create"  class="btn add">adcionar task</a>
    <table>
      <tr>
        
        <th>Task Name</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
     {{#each tasks}}
      <tr>
        
        <td>{{this.title}}</td>
        {{#if this.done}}
        {{!-- criar um hover para quando nao estiver completo para fechar a pagina e aparecer para completar --}}
          <td>
            <form action="/tasks/edit" method="post">
              <input type="hidden" name="title" value="{{this.title}}">
              <input type="hidden" name="_id" value="{{this._id}}">
              <input type="hidden" name="userId" value="{{this.userId}}">
              <input type="hidden" name="done" value="0">
              <button type="submit" class="btn done">Completed</button>
          </form>
          </td>
        {{else}}
          <td>
            <form action="/tasks/edit" method="post">
              <input type="hidden" name="title" value="{{this.title}}">
              <input type="hidden" name="_id" value="{{this._id}}">
              <input type="hidden" name="userId" value="{{this.userId}}">
              <input type="hidden" name="done" value="on">
              <button type="submit" class="btn progress">In Progress</button>
          </form>
            </td>

        {{/if}}
        <td>
          <div class="edit-container">
            <label for="{{this._id}}" class="btn edit">
              <i class="bi bi-pencil"></i>
            </label>
              <input type="checkbox" name="" id="{{this._id}}">
              <div class="modal-container">
                <label for="{{this._id}}" class="modal-bg">                 
                </label>                
                <div class="edit-form">
                  <h3>Editar</h3>
                  <form action="/tasks/edit" method="post" class="form-container" >
                    <input type="hidden" name="_id" value="{{this._id}}">
                    <input type="hidden" name="userId" value="{{this.userId}}">
                    <input type="text" name="title" value="{{this.title}}" class="input-field">       
                      {{#if this.done}}
                       <input type="hidden" name="done" value="on">
                      {{else}}
                       <input type="hidden" name="done"  value="0">
                      {{/if}}        
                    <button type="submit" class="btn edit">Update</button>
                  </form>
                </div>
              </div>
          </div>
          </td>

        <td style="width: 50px;">
          <form action="/tasks/delete" method="post">
            <input type="hidden" name="_id" value="{{this._id}}">
            <button type="submit" class="btn delete"><i class="bi bi-trash"></i></button>
        </form></td>
      </tr>
     {{/each}}
    
    
    </table>
</div>